* {
	font-family: 'Merriweather', serif;
}
html, body {
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	height: 100%;
}

h3 {
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
.retroShadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px rgba(253,187,45,0.8), 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

#parent {
	background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#E2A9E5, #632C65);
	background-color: mediumspringgreen;
	background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
	background-repeat: repeat;
	transform: perspective(20em) rotateX(20deg);
	box-shadow: rgba(22, 31, 39, 0.6) 0px 30px 70px -15px !important;
	border-radius: 10px;
	border: 1px solid;
	border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.blocks {
	background: radial-gradient(circle, lightgray 0%, white 100%); 
	border: 2px solid #ccc;
	border-radius: 12px;
}

.blocks:hover {
	transform: perspective(30em) rotateX(30deg);
	color: orangered;
	cursor: pointer;
	box-shadow: #0ff 0 0 12px 4px !important;
}

#results {
	max-height: 10rem;
	overflow-y: auto;
}