* {
	font-family: 'Merriweather', serif;
}
html, body {
	height: 100%;
}

h3 {
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
.retroShadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px rgba(253,187,45,0.8), 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

#parent {
	transform: perspective(20em) rotateX(20deg);
	box-shadow: rgba(22, 31, 39, 0.6) 0px 30px 70px -15px !important;
	border-radius: 10px;
	border: 1px solid;
	border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.blocks {
	border: 2px solid #ccc;
	border-radius: 12px;
}

.hover:hover {
	transform: perspective(30em) rotateX(30deg);
	color: orangered;
	cursor: pointer;
	box-shadow: #0ff 0 0 12px 4px !important;
}

#results {
	max-height: 10rem;
	overflow-y: auto;
}